*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

nav{
  width: 100vw;
  background-color: coral;
  padding: 15px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1{
  font-size: 2rem;
}

nav div.searchBox input#searchField,button#searchBtn{
  outline: none;
  padding: 7px 10px;
  font-size: 1rem;
  margin: 0px 5px;
  border-radius: 5px;
  border: none;
  background-color: white;
}

@media only screen and (max-width:720px){
  nav{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  nav div.searchBox{
    margin-top: 10px;
  }
}