*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main.main-body-section{
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav{
  width: 100vw;
  background-color: coral;
  padding: 15px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1{
  font-size: 2rem;
}

nav div.searchBox input#searchField,button#searchBtn{
  outline: none;
  padding: 7px 10px;
  font-size: 1rem;
  margin: 0px 5px;
  border-radius: 5px;
  border: none;
  background-color: white;
}

main.main-section{
  width: 90vw ;
  /* height: 85vh; */
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
main.main-section section{
  width: 40vw;
  height: 83vh;
  background-color: whitesmoke;
  margin: 20px;
  border-radius: 10px;
  padding: 5px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.main-section section ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}
main.main-section section ul li.recipies-listitem{
  width: 90%;
  background-color: white;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px 0px;
}

@media only screen and (max-width:720px){
  nav{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  nav div.searchBox{
    margin-top: 10px;
  }
  main.main-section{
    width: 100vw;
    flex-direction: column;
  }
  main.main-section section{
    width: 90vw;
    /* height: 90vh; */
  }
}